﻿<!doctype html>
<html ng-app="exampleApp">
<head>
<meta charset="utf-8">
</head>
<body ng-controller="exampleController">
<input type="text" ng-model="authorname" ng-default='Nina'><!-- своя директива, потому как нельзя просто так взять и добавить свое начально значение -->
<input value="Get" type="button" ng-click="load(authorname)">
<table border='1'>
	<!--<tr><th>Author:</th><th>{{author}}</th></tr>-->
	<tr><th>Book</th><th>Quantity</th></tr>
	<tr ng-repeat="item in list.items">
		<td>{{item.book}}</td>
		<td>{{item.quantity}}</td>
	</tr>
</table>
<p>{{author}}</p>
<script type="text/javascript" src="angular.min.js"></script>
<script>
var literature = {
  items: []
};

var exampleApp = angular.module("exampleApp", []);
exampleApp.controller("exampleController", function ($scope, $http) {
  $scope.load = function(name){
    $http({method:'GET', url:'get.php', params: {'author':name}}).
      success(function(data) {
        literature.items = data.books;
		$scope.list = literature;
		$scope.author = data.author;
	  })
	};
  }
);

exampleApp.directive('ngDefault', function() {
	return {
		restrict: 'A',
		link: function(scope, elem, attrs) {
			if (typeof attrs.ngModel != 'undefined') {
				scope[attrs.ngModel] = attrs.ngDefault;
			}
		}
	}
});/**/
</script>
</body>
</html>